@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Serif+KR:wght@300;500;700;900&display=swap");
@import url(icomoon.css);
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand_Bold.eot), url(../fonts/Quicksand_Bold.ttf), url(../fonts/Quicksand_Bold.eot);
  /*url(../fonts/Quicksand_Bold.woff)*/
}
html, body {
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.43;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, dt, address {
  font-family: "Noto Sans KR", sans-serif;
}

h1, h2, h3, h4, h5, p, li, dt, dd, address {
  font-size: 1.2rem;
  overflow: hidden;
}

div.hdrWrap {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
}
div.hdrWrap header {
  width: 90%;
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
div.hdrWrap header h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000;
}
div.hdrWrap header h1 br {
  display: none;
}
div.hdrWrap header nav {
  display: flex;
  justify-content: flex-start;
}
div.hdrWrap header nav h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #000;
  margin-left: 30px;
}
div.hdrWrap header .bars {
  display: none;
}
div.hdrWrap header .bars button {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
  font-size: 24px;
}

@media (max-width: 960px) {
  div.hdrWrap header nav {
    display: none;
  }
  div.hdrWrap header .bars {
    display: block;
  }
}
div.mnWrap main h3 {
  font-weight: 900;
  font-size: 72px;
  line-height: 80px;
  text-transform: uppercase;
}
div.mnWrap main h3 i {
  font-weight: 100;
}
div.mnWrap main h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
}
div.mnWrap main p {
  font-size: 2rem;
  line-height: 40px;
  margin-top: 40px;
  height: 160px;
}
div.mnWrap main li {
  font-size: 50px;
  line-height: 80px;
}

div.content {
  padding: 160px 0;
}
div.content header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
div.content header h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
  color: #000;
}
div.content header h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: #333;
}
div.content header hr {
  width: 60px;
  height: 4px;
  background-color: #000;
}
div.content section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}
div.content section h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #000;
}
div.content section h5 {
  font-weight: 700;
  font-size: 12px;
  line-height: 40px;
  color: #333;
}
div.content section nav {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: #000;
}

div.ftrWrap {
  background-color: #000;
  padding: 80px 0;
}
div.ftrWrap footer {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
div.ftrWrap footer h1 {
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  font-weight: inherit;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
}
div.ftrWrap footer ul {
  margin-top: 40px;
}
div.ftrWrap footer ul li {
  font-size: 24px;
  line-height: 40px;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  color: #fff;
}
div.ftrWrap footer menu {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
div.ftrWrap footer menu li {
  font-weight: 300;
  font-size: 50px;
  line-height: 80px;
  color: #fff;
  color: #fff;
  margin: 0 10px;
}/*# sourceMappingURL=common.css.map */