//index.scss
$sa : space-around;
$sb : space-between;
$fc : center;
@mixin cntWidth{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
@mixin ovgrid {
    width: calc((100vw - 1200px) / 2 + 100%);
    min-width: 100%;
}
@mixin flexLayout($jc) {
    display: flex;
    justify-content: $jc;
}
div.mnWrap{
    main{
        @include cntWidth;
        position: relative;
        article{
            &:first-child{
                width: 80%;
                direction: rtl;   
            }
            .image{
                height: 960px;
                background-color: #999;
                @include ovgrid;
            }
            &:last-child{
                width: 720px;
                position: absolute;
                right: 0;top: 120px;
            }
            .ovgrid{
                height: 800px;
                background-color: #f90;
                @include ovgrid;
                border-radius: 20px 0 0 20px;
            }
            .texts{
                position: absolute;
                left: 120px; top: 120px;
                menu{
                    display: flex;
                    li{margin-right: 20px;}
                }
            }
        }
    }
}
@media (max-width:1200px){
    div.mnWrap{
        main{
            width: 100%;
            max-width: none;
        }
    }
}
div.about{
    header{
        @include flexLayout($sb);
        .left{
            width: calc(50% - 20px);
            text-align: right;
            h3{}
            h5{}
        }
        .right{
            width: calc(50% - 20px);
            hr{
                margin-top: 20px;
            }
            h3{
                font-size: 18px;
                i{
                    font-weight: 900;
                    font-size: 72px;
                    font-family: 'Noto Serif KR', serif;
                }
            }
        }
    }
    section{
        position: relative;
        .imgGroup{
            @include flexLayout($sa);
            align-items: flex-end;
        }
        .image{
            width: calc(20% - 20px);
            height: 320px;
            background-color: #999;
            
            
            &:nth-of-type(1){
                direction: rtl;
            }
            &:nth-of-type(2){
                width: calc(60% - 20px);
                height: 480px;
                background-color: #999;
            }
            .ovgrid{
                @include ovgrid;
                height: 100%;
                background-color: #888;
            }
        }
        .texts{
            width: calc(55% - 20px);
            position: absolute;
            margin: auto;
            right: 0; left: 0;
            top: 300px;
            h4{}
            p{
                height: 80px;
            }
        }
        .btns{
            width: 400px;
            margin: 0 auto;
            margin-top: 20px;
            @include flexLayout($sb);
            button{
                width: 40px;
                height: 40px;
            }
            span{line-height: 40px;}
        }
    }
}
div.project{
    section{
        @include flexLayout($sa);
        align-items: flex-end;
        header{
            width: calc(50% - 20px);
            h2{
                font:{
                    weight: 500;
                    size: 16px;
                }
                
                i{
                    font:{
                        family: 'Noto Serif KR';
                        weight: 900;
                        size: 120px;
                    }
                    line-height: 120px;
                }
            }
            h3{}
            h5{
                font:{
                    weight:100;
                    size:18px;
                }
            }
            p{
                height: 80px;
                margin-top: 20px;
            }
            ul{
                @include flexLayout($sb);
                margin-top: 80px;
                li{
                    width: calc(50% - 10px);
                    height: 80px;
                    border: 2px solid #000;
                    border-radius: 10px;
                    line-height: 80px; text-align: center;
                    font:{
                        family: 'Noto Sans KR';
                        weight: 700;
                        size: 18px;
                    }
                    color: #000;
                    a{
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
            }
        }
        article{
            width: calc(50% - 20px);
            .ovgrid{
                height: 640px;
                background-color: #999;
                @include ovgrid;
            }
        }
    }
}
div.reverse{
    section{
        flex-direction: row-reverse;
        article{
            direction: rtl;
        }
    }
}
div.skills{
    header{
        text-align: center;
    }
    section{
        @include flexLayout($sa);
        article{
            width: calc(25% - 20px);
            &:hover{
                .progress{
                    .p60{height: 60%;}
                    .p80{height: 80%;}
                    .p100{height: 100%;}
                    .p85{height: 85%;}
                }
            }
            .progress{
                height: 280px;
                background-color: #999;
                position: relative;
                display: flex;
                /* flex-direction: column-reverse; */
                /* flex-wrap: wrap-reverse; */
                align-items: flex-end;
                border-radius: 20px;
                overflow: hidden;
                .bar{
                    height: 0;
                    width: 100%;
                    background-color: #f90;
                    transition: height 0.4s;
                }
                .percent{
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    position: absolute;
                    margin: auto;
                    top: 0; right: 0; bottom: 0; left: 0;
                    background-color: #ccc;
                    border-radius: 10px;
                    padding: 0 30px;
                    h5{
                        line-height: 260px;
                        font-size: 36px;    
                        i{
                            font-size: 72px;
                        }
                    }
                }
            }
            .texts{
                padding: 0 20px;
                h4{
                    line-height: 80px;
                }
                p{
                    height: 80px;
                }
            }
        }
    }
}
div.gallery{
    header{text-align: center;}
    section{
        display: flex;
        .artGroup{
            width: 33.33%;
        }
        article{
            position: relative;
            .image{
                height: 280px;
                background-color: #999;
            }
            .texts{
                position: absolute;
                bottom: 40px;
                padding: 0 20px;
                p{
                    height: 80px;
                }
            }
        }
        .single{
            .image{
                height: 560px;
            }
        }
    }
}